@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/proxima-nova/ProximaNovaT-Thin.eot") format("eot"), url("fonts/proxima-nova/ProximaNovaT-Thin.svg") format("svg"), url("fonts/proxima-nova/ProximaNovaT-Thin.ttf") format("truetype"), url("fonts/proxima-nova/ProximaNovaT-Thin.woff") format("woff"), url("fonts/proxima-nova/ProximaNovaT-Thin.woff2") format("woff2"); }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Proxima Nova';
  /*background: url($body-img);*/ }

header {
  width: 100%;
  background-color: #003755;
  position: fixed; }

.menu {
  background-color: #3B3B3B;
  justify-content: center;
  border-bottom: 2px solid #C29E75;
  display: flex;
  margin: 0px;
  color: white; }

.menu li {
  padding: 20px;
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
  float: left; }

.menu li a {
  text-decoration: none; }

.menu li a:hover {
  color: #C29E75;
  padding: 1px;
  border-bottom: 2px dotted #C29E75; }

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  display: none;
  padding: 0;
  color: #C29E75; }

.menu li:hover ul {
  display: block; }

.menu li ul li .menu li ul li a {
  display: block;
  width: 150px;
  color: #C29E75; }

.active {
  color: #C29E75 !important; }

#events {
  background-color: white; }

/* Ex. 3 - Galeria */
.slide-img .slide-pics {
  padding: 2px;
  width: 100%; }

.flex {
  display: flex;
  justify-content: space-around; }

.grid {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: 0 auto; }

.reverse {
  flex-direction: row-reverse; }

section h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #01CBEF;
  text-align: center;
  padding: 20px;
  margin: 0; }

section hr {
  width: 60px;
  border-top: 2px solid #01CBEF; }

/* Icons */
.fa-6 {
  font-size: 12em !important; }

#home {
  position: relative;
  height: 100vh;
  z-index: -1; }
  #home .videoContainer {
    position: absolute;
    width: 100%;
    height: 100%; }
    #home .videoContainer video {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #home .videoContainer #youtubeVideo {
      margin-left: -2px; }

#who {
  background-color: #EEE;
  text-align: center; }
  #who .team {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 0 auto; }
    #who .team .team-member {
      border-radius: 10px;
      background-color: white;
      padding: 20px; }
  #who #newMember {
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    background-color: #01CBEF;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    text-transform: uppercase; }
  #who .member-form {
    width: 80%;
    margin: 0 auto; }
    #who .member-form #member-form {
      background-color: #003755;
      border-radius: 10px;
      padding: 1em;
      color: white; }
      #who .member-form #member-form label {
        font-size: 1.2em;
        display: block; }
      #who .member-form #member-form input {
        width: 100%;
        box-sizing: border-box;
        padding: 0.8em;
        border: 0.05em solid white;
        border-radius: 0.4em; }
      #who .member-form #member-form textarea {
        width: -webkit-fill-available;
        border-radius: 5px;
        border: none; }
      #who .member-form #member-form #submit {
        border-color: white;
        background-color: #01CBEF;
        color: white;
        margin-top: 1.5em;
        font-size: 1.1em; }
  #who .contact-list {
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 0 auto;
    text-align: center; }
  #who .grid-map {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em; }
  #who #map {
    width: 100%; }

#what {
  background-color: white;
  padding: 0 10px; }
  #what img {
    width: 100%; }
  #what h3 {
    color: #003755;
    text-transform: uppercase; }

.info {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8em; }

.grid {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: 0 auto; }

#resources {
  background-color: #EEE;
  padding: 0 10px; }
  #resources .grid strong {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #01CBEF; }
  #resources .grid img {
    width: 100%; }
  #resources .grid .fa-info-circle {
    display: block; }

#events h3 {
  text-align: center; }

#events .events {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em;
  color: #C29E75; }
  #events .events img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px; }
  #events .events .slide-img {
    margin: 0 auto; }
  #events .events .slide-dots {
    text-align: center; }
    #events .events .slide-dots .dot {
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
      #events .events .slide-dots .dot:hover {
        background-color: #717171; }
    #events .events .slide-dots .active {
      background-color: #717171; }
  #events .events .events-form {
    width: 90%;
    margin: 0 auto; }
    #events .events .events-form #events-form {
      background-color: #01CBEF;
      border-radius: 10px;
      padding: 1em;
      color: white; }
      #events .events .events-form #events-form label {
        font-size: 1.2em;
        display: block; }
      #events .events .events-form #events-form input {
        width: 100%;
        box-sizing: border-box;
        padding: 0.8em;
        border: 0.05em solid white;
        border-radius: 0.4em; }
      #events .events .events-form #events-form textarea {
        width: -webkit-fill-available;
        border-radius: 5px;
        border: none; }
      #events .events .events-form #events-form #submit {
        border-color: white;
        background-color: #003755;
        color: white;
        margin-top: 1.5em;
        font-size: 1.1em; }

footer {
  background-color: #003755;
  color: white;
  margin-top: 30px; }
  footer #footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em; }
    footer #footer .footer {
      padding: 20px;
      border-radius: 10px; }
      footer #footer .footer h2 {
        color: #01CBEF;
        padding-bottom: 5px;
        margin-bottom: 5px;
        text-transform: uppercase; }
      footer #footer .footer hr {
        border: 0;
        border-top: 2px solid #01CBEF;
        margin-left: 0;
        width: 60px; }
      footer #footer .footer .site-map ul {
        margin: 0px;
        padding: 0px; }
      footer #footer .footer .site-map li {
        list-style: none;
        padding: 10px 0; }
      footer #footer .footer .site-map a {
        color: white;
        text-decoration: none; }
        footer #footer .footer .site-map a:hover {
          font-size: 18px; }
      footer #footer .footer .social-media {
        font-size: large; }
      footer #footer .footer #map {
        border-radius: 10px;
        width: 100%; }

@media screen and (min-width: 600px) {
  #events, .container {
    margin: 0 auto;
    width: 80%; }
  #who .member-form {
    width: 30%; }
  #who .contact-list {
    text-align: lefT; }
  #events .events-form {
    width: 100% !important; }
  #what {
    margin: 0 auto;
    width: 50%; }
    #what .flex {
      text-align: right; }
    #what .reverse {
      text-align: left; } }

.dropdown {
  overflow: hidden; }

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.dropdown-content {
  display: none !important;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #ddd;
  color: black; }

.dropdown:hover .dropdown-content {
  display: block !important;
  margin-top: 50px; }

@media screen and (max-width: 600px) {
  .dropdown .dropbtn {
    display: none; } }

.navbar {
  background: white;
  box-shadow: 0px 0px 20px 0px black; }
  .navbar .toggle, .navbar .brand {
    display: inline-block; }
  .navbar .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: #003755;
    text-transform: uppercase; }
    .navbar .link:hover, .navbar .link:active {
      border-bottom: 1px dotted #003755; }
  .navbar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    background: #01CBEF;
    color: white; }
  .navbar .toggle {
    padding: 1em;
    color: white; }

@media (min-width: 48em) {
  .navbar {
    display: flex; }
    .navbar .left, .navbar .right {
      display: flex;
      flex: 1; }
    .navbar .link {
      width: auto; }
    .navbar .right {
      justify-content: flex-end; }
    .navbar .toggle {
      display: none; } }

.navbar div {
  display: none; }
  @media (min-width: 48em) {
    .navbar div {
      display: flex; } }

@media (max-width: 48em) {
  .navbar {
    background-color: #01CBEF; }
    .navbar .left {
      border-bottom: 1px dashed black; }
    .navbar .link {
      text-align: left; }
  .navbar.active .toggle {
    background: #01CBEF;
    color: white; }
  .navbar.active .dropdown-content {
    display: none; }
  .navbar.active div {
    display: block;
    background-color: white; } }
