$body-font: Verdana, Geneva, Tahoma, sans-serif;
$body-font1: "Trebuchet MS", Helvetica, sans-serif;
$body-img: "https://wallpaperaccess.com/full/1516412.jpg";

$max-width: 1200px;

$menu-color: #3B3B3B;
$menu-color-hover: #C29E75;

$section-height: 500px;

// h2
$h2-section-size: 1.8em;
$h2-color: #01CBEF;

$footer-background-color: #003755;
$footer-color: white;
$footer-border-radius: 10px;

// Font
@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proxima-nova/ProximaNovaT-Thin.eot') format('eot'),
	url('fonts/proxima-nova/ProximaNovaT-Thin.svg') format('svg'),
	url('fonts/proxima-nova/ProximaNovaT-Thin.ttf') format('truetype'),
	url('fonts/proxima-nova/ProximaNovaT-Thin.woff') format('woff'),
	url('fonts/proxima-nova/ProximaNovaT-Thin.woff2') format('woff2')
	;
}

/*@font-face {
font-family: 'Open sans';
src: url('fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}*/

body {
	margin: 0px;
	padding: 0px;
	//font-family: $body-font1;
	font-family: 'Proxima Nova';
	/*background: url($body-img);*/
}

header {
	width: 100%;
	background-color: $footer-background-color;
	position: fixed;

}

.menu {
	background-color: $menu-color;
	justify-content: center;
	border-bottom: 2px solid #C29E75;
	display: flex;
	margin: 0px;
	color: white;
}

.menu li {
	padding: 20px;
	list-style-type: none;
	text-transform: uppercase;
	position: relative;
	float: left;
}

.menu li a {
	text-decoration: none;
}

.menu li a:hover {
	color: $menu-color-hover;
	padding: 1px;
	border-bottom: 2px dotted $menu-color-hover;
}

.menu li ul{
	position:absolute; 
	top:25px; 
	left:0;
	display:none;
	padding: 0;
	color: $menu-color-hover;
}
.menu li:hover ul {display:block;}
//.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li .menu li ul li a {
	display:block; 
	width:150px;
	color: $menu-color-hover;
}

.menu a {
	//color: white;
}

.active {
	color: $menu-color-hover !important;
}

#events {
	background-color: white;
}

/* Ex. 3 - Galeria */
.slide-img {
	.slide-pics {
		padding: 2px;
		width: 100%;
	}
}

.flex {
	display: flex;
	justify-content: space-around;
	//flex-direction: column;
	//text-align: center;
}

.grid {
	max-width: 1200px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
	margin: 0 auto;
}

.reverse {
	flex-direction: row-reverse;
	//text-align: center;
}

section {
	h2 {
		font-size: $h2-section-size;
		text-transform: uppercase;
		color: $h2-color;
		text-align: center;
		padding: 20px;
		margin: 0;
	}

	hr {
		width: 60px;
		border-top: 2px solid $h2-color;
	}
}

/* Icons */
.fa-6 {
	font-size: 12em !important;
}

#home {
	position: relative;
	height: 100vh;
	z-index: -1;

	.videoContainer {
		position: absolute;
		width: 100%;
		height: 100%;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		#youtubeVideo {
			margin-left: -2px;
		}
		//top: 0;
		//left: 0;
		//bottom: 0;
		//right: 0;
		//display: flex;
		//flex-direction: column;
		//justify-content: center;
		//align-items: center;
	}
}

#who {
	background-color: #EEE;
	text-align: center;

	.team {
		max-width: $max-width;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 1em;
		margin: 0 auto;

		.team-member {
			border-radius: $footer-border-radius;
			background-color: white;
			padding: 20px;
		}
	}

	#newMember {
		cursor: pointer;
		padding: 15px;
		border-radius: 5px;
		background-color: $h2-color;
		border: 1px solid white;
		color: white;
		font-size: 16px;
		text-transform: uppercase;
	}

	.member-form {
		width: 80%;
		margin: 0 auto;

		#member-form {
			background-color: $footer-background-color;
			border-radius: 10px;
			padding: 1em;
			color: white;

			label {
				font-size: 1.2em;
				display: block;
			}

			input {
				width: 100%;
				box-sizing: border-box;
				padding: 0.8em;
				border: 0.05em solid white;
				border-radius: 0.4em;

			}

			textarea {
				width: -webkit-fill-available;
				border-radius: 5px;
				border: none;
			}

			#submit {
				border-color: white;
				background-color: $h2-color;
				color: white;
				margin-top: 1.5em;
				font-size: 1.1em;
			}
		}
	}

	.contact-list {
		max-width: 900px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 1em;
		margin: 0 auto;
		text-align: center;
		//display: grid;
		//grid-template-columns: 1fr 1fr;
		//text-align: left;
	}

	.grid-map {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1em;
	}

	#map {
		width: 100%;
	}
}

#what {
	background-color: white;
	padding: 0 10px;

	img {
		width: 100%;
	}

	h3 {
		color: $footer-background-color;
		text-transform: uppercase;
	}
}

.info {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
}

.grid {
	max-width: 1200px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1em;
	margin: 0 auto;
}

#resources {
	background-color: #EEE;
	padding: 0 10px;

	.grid {

		strong {
			font-size: 1.2em;
			text-transform: uppercase;
			color: $h2-color;
		}
		img {
			width: 100%;
		}

		.fa-info-circle {
			display: block;
		}
	}
}


#events {
	h3 {
		text-align: center;
	}

	.events {
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 3em;
		color: $menu-color-hover;

		img {
			max-width: 100%;
			object-fit: cover;
			border-radius: 10px;
		}

		.slide-img {
			margin: 0 auto;
		}

		.slide-dots {
			text-align: center;

			.dot {
				cursor:pointer;
				height: 13px;
				width: 13px;
				margin: 0 2px;
				background-color: #bbb;
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.6s ease;

				&:hover {
					background-color: #717171;
				}
			}

			.active {
				background-color: #717171;
			}
		}

		.events-form {
			width: 90%;
			margin: 0 auto;

			#events-form {
				background-color: $h2-color;
				border-radius: 10px;
				padding: 1em;
				color: white;

				label {
					font-size: 1.2em;
					display: block;
				}

				input {
					width: 100%;
					box-sizing: border-box;
					padding: 0.8em;
					border: 0.05em solid white;
					border-radius: 0.4em;

				}

				textarea {
					width: -webkit-fill-available;
					border-radius: 5px;
					border: none;
				}

				#submit {
					border-color: white;
					background-color: $footer-background-color;
					color: white;
					margin-top: 1.5em;
					font-size: 1.1em;
				}
			}
		}
	}
}

footer {
	background-color: $footer-background-color;
	color: $footer-color;
	margin-top: 30px;

	#footer {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		//height: $section-height;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 1em;
		//padding: 1rem;
		//background-color: $footer-background-color;
		//margin-top: 20px;

		.footer {
			//background-color: gray;
			//width: 100%;
			//margin: 50px;
			padding: 20px;
			border-radius: $footer-border-radius;

			h2 {
				color: $h2-color;
				padding-bottom: 5px;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			hr {
				border: 0;
				border-top: 2px solid $h2-color;
				margin-left: 0;
				width: 60px;
			}

			.site-map {
				ul {
					margin: 0px;
					padding: 0px;
				}

				li {
					list-style: none;
					padding: 10px 0;
				}

				a {
					color: white;
					text-decoration: none;

					&:hover {
						font-size: 18px;
					}
				}
			}

			.social-media {
				font-size: large;	
			}

			#map {
				border-radius: $footer-border-radius;
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	#events, .container {
		margin: 0 auto;
		width: 80%;
	}

	#who {
		.member-form {
			width: 30%;
		}

		.contact-list {
			text-align: lefT;
		}
	}

	#events {
		.events-form {
			width: 100% !important;
		}
	}

	#what {
		margin: 0 auto;
		width: 50%;

		.flex {
			text-align: right;
		}

		.reverse {
			text-align: left;
		}
	}
}

.dropdown {
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;    
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none !important;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block !important;
	margin-top: 50px;
}

@media screen and (max-width: 600px) {
	.dropdown .dropbtn {
		display: none;
	}
}

.navbar {
	background: white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
	.toggle, .brand {
		display: inline-block;
	}

	.link {
		display: block;
		width: 100%;
		text-align: center;
		padding: 1em;
		text-decoration: none;
		color: #003755;
		text-transform: uppercase;
		&:hover,&:active {
			border-bottom: 1px dotted #003755;
		}
	}
	.brand {
		width: 10em;
		text-align: center;
		padding: 1em;
		background: #01CBEF;
		color: white;
	}
	.toggle {
		padding: 1em;
		color: white;
	}
}

@media (min-width: 48em) {
	.navbar {
		display: flex;
		.left,.right {
			display: flex;
			flex: 1;
		}
		.link {
			width: auto;
		}
		.right {
			justify-content: flex-end;
		}
		.toggle {
			display: none;
		}
	}
}

.navbar {
	div {
		display: none;
		@media (min-width: 48em) {
			display: flex;
		}
	}
}

@media (max-width: 48em) {
	.navbar {
		background-color: $h2-color;

		.left {
			border-bottom: 1px dashed black;
		}

		.link {
			text-align: left;
		}
	}
	.navbar.active {
		.toggle {
			background: #01CBEF;
			color: white;
		}
		.dropdown-content {
			display: none;
		}
		div {
			display: block;
			background-color: white;
		}
	}
}
